.fits-wrapper
  .fit
    .fit-head
      .thumb-img
      .user-name
        = fit.user.user_name
    .image.center-block
      = link_to (image_tag fit.image.url(:medium), class:'img-responsive'), fit_path(fit)
    .fit-bottom
      .caption
        .user-name
          = fit.user.user_name
        = fit.caption
      - if fit.comments
        - fit.comments.each do |comment|
          .comment
            .user-name
              = comment.user.user_name
            .comment-content
              = comment.content
            - if comment.user == current_user
              = link_to fit_comment_path(fit, comment), method: :delete, data: { confirm: "Are you sure?" } do
                %span(class="glyphicon glyphicon-remove delete-comment")
    .comment-like-form.row
      .like-button.col-sm-1
        %span(class="glyphicon glyphicon-heart-empty")
      .comment-form.col-sm-11
        = form_for [fit, fit.comments.new] do |f|
          = f.text_field :content, placeholder: 'Add a comment...'